
{% extends 'partials/base.html' %}
{% load static %}
{% block content %}


<!-- Temporary styling for container...eventually put this in css file -->
<style>
    .container-left {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 40px; /* Space between image and text */
        padding: 40px; /* Padding inside the container */
        border: 1px solid #ccc; /* Optional: border to visualize the container */
    }

    .image-just-for-here img {
        max-width: 95%;
        height: auto;
        display: block;
    }

    .text-just-for-here {
        max-width: 70%;
    }

    @media (max-width: 768px) {
        .container-left {
            flex-direction: column;
            align-items: flex-start;
        }
        
        .text {
            max-width: 100%;
        }
    }
</style>

        <!-- Banner -->
        <!-- <div class="slick-list">
            <div class="utf_listing_item"> -->
        <div class="search_container_block main_search_block" data-background-image="{% static 'images/CSC/lodge3.png' %}">
                    <!-- <img src="{% static 'images/csc/lodge3.png' %}" alt=""> -->
            <!-- </div> -->
            <div class="main_inner_search_block">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>Cascade Ski Club and Lodge</h2>
                            <h4>Committed to preserving affordable, accessible, year-round mountain experiences centered around our 
                                lodge, fostering fun and friendship for families, youth, and mountain enthusiasts of all ages.</h4>
                            <!-- <h4>Committed to preserving a tradition of providing affordable, accessible, year-round mountain experiences centered around our 
                                lodge, fostering fun and friendship for families, youth, and mountain enthusiasts of all ages.</h4> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="container-left">
            <!-- <div class="image-just-for-here"> -->
            <div class="slick-list">
                <div class="utf_listing_item">
                    <img src="{% static 'images/csc/lodge4.png' %}" alt="">
                </div>
            </div>
            <div class="text-just-for-here">
                <h2>Our Roots</h2>
                <p>Founded in 1928 by Norwegian ski jumpers, Cascade Ski Club is one of America’s oldest ski clubs. Dedicated to the promotion and development
                    of seasonal recreational experiences on Mt. Hood, the club owns a rustic “Cascadian Style” Grand Lodge in the center of Government Camp. 
                    It has become a traditional gathering place on the mountain for ski and snowboard enthusiasts, racers and families since 1947.
                </p>

               <p>The Lodge affords members a central location to venture into any mountain experience, including skiing, snowboarding, tubing, hiking, fishing, 
                   mountain biking and climbing. The Lodge (members only; guests can try out our lodge if accompanied by a member) offers reasonably priced 
                   dormitory-style bunks, weekend hot meals, modern facilities and fireside atmosphere to individual members and their family as well as to 
                   organized groups for overnight and day use by reservation.
                </p>
            </div>
        </div> 



        <div class="fullwidth_block padding-top-75 padding-bottom-75">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Use the following links for more information:</h4>
                        <ul class="social_footer_link">
                            <li>
                                <a href="{% url 'hotel:rates' %}">Rates</a>
                                <span class="tag"> <i class="fa-chevron-up"></i> Rates </span>
                            </li>
                            <li><a href="{% url 'hotel:faq' %}">FAQ</a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>


{% endblock content %}
    