
{% extends 'partials/base.html' %}
{% load static %}
{% block content %}
  
  <div id="titlebar" class="gradient">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>{{room_type.type}} Room</h2>
          <nav id="breadcrumbs">
            <ul>
              <li><p>{{rooms.count}} Available Rooms</p></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>

  
  <section class="fullwidth_block margin-top-0 padding-top-0 padding-bottom-50" data-background-color="#fff"> 
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3 class="headline_part centered margin-bottom-20">There are {{ rooms.count }} available {{ room_type.type }}s</h3>
        </div>
      </div>
      <div class="row">  
        <div class="col-lg-8 "> 
          
          {% for r in rooms %}
              <div class="plan featured col-md-4 col-sm-6 col-xs-12">
              <div class="utf_price_plan">
                  <h3>{{ r.room_number }}</h3>
                  <span class="value">${{r.room_type.member_price}}<span>Member Price Per Night</span></span> 
                  <span class="value">${{r.room_type.child_price}}<span>Child Price Per Night</span></span> 
                  <span class="value">${{r.room_type.guest_price}}<span>Guest Price Per Night</span></span> 
              </div>
              <div class="utf_price_plan_features">
                  <ul>
                  <li>Beds: {{r.room_type.number_of_beds}} </li>
                  <li>Capacity: {{r.room_type.room_capacity}}</li>
                  </ul>
                  <input type="hidden" class="room_id_{{r.id}}" value="{{r.id}}" id="room_id">
                  <input type="hidden" class="room_number_{{r.id}}" value="{{r.room_number}}" id="room_number">
                  <button class="button border add-to-selection" data-index="{{r.id}}"><i class="fas fa-shopping-cart"></i> Add To Selection</button> 
              </div>
              </div>
          {% endfor %}
          <input type="hidden" value="{{hotel.id}}" id="id">
          <input type="hidden" value="{{hotel.name}}" id="hotel_name">
          <input type="hidden" value="{{room_type.type}}" id="room_type">
          <input type="hidden" value="{{room_type.member_price}}" id="member_price">
          <input type="hidden" value="{{room_type.number_of_beds}}" id="number_of_beds">
          <input type="hidden" value="{{room_type.id}}" id="room_type">
          <input type="hidden" value="{{checkin}}" id="checkin">
          <input type="hidden" value="{{checkout}}" id="checkout">
          <input type="hidden" value="{{member}}" id="member">
          <input type="hidden" value="{{children}}" id="children">
          <input type="hidden" value="{{guest}}" id="guest">


          
        </div>  
        <!-- <div class="col-lg-4">
          <div class=" booking_widget_box" style="border: 1px dashed rgba(42, 1, 119, 0.61); padding: 14px; border-radius: 10px;">
              <h3 class="utf_section_heading">Check Availability</h3>
              <form method="POST" action="{% url 'booking:check_room_availability' %}">
                  {% csrf_token %}
                  <input type="hidden" value="{{hotel.id}}" name="hotel_id" id="hotel_id">                
                  <div class="col-lg-12 col-md-12 utf_input_container">
                      <label for="check_in_date">Check-in Date</label>
                      {{ form.check_in_date }}
                  </div>
                  <div class="col-lg-12 col-md-12 utf_input_container">
                      <label for="check_out_date">Check-out Date</label>
                      {{ form.check_out_date }}
                  </div>

                  <div class="col-lg-12 col-md-12 tf_input_container">
                      <label for="select_room_type">Select Room Type</label>
                      <select name="room_type" class="utf_chosen_select_single" required>
                          {% for r in hotel.hotel_room_types %}
                              <option value="{{r.slug}}">{{r.type}}</option>
                          {% endfor %}
                          </select>
                  </div>
                  <div class="col-lg-12 col-md-12 utf_input_container">
                      <label for="num_members">Select Number of Members</label>
                      {{ form.num_members }}
                  </div>
                  <div class="col-lg-12 col-md-12 utf_input_container">
                      <label for="num_children">Select Number of Children</label>
                      {{ form.num_children }}
                  </div>
                  <div class="col-lg-12 col-md-12 utf_input_container">
                      <label for="num_guests">Select Number of Guests</label>
                      {{ form.num_guests }}
                  </div>
                  <button type="submit" class="utf_progress_button button fullwidth_block margin-top-5">
                      Check Availability
                  </button>
              </form>
              <div class="clearfix"></div>
          </div> -->
      </div>      
              
      </div>      
    </div>    
  </section>

  <script>
    $(document).ready(function(){
        
        var dateInput = $('#checkout_date');

        dateInput.on('change', function() {
            var selectedDate = dateInput.val();
            console.log('Selected date:', selectedDate);
        });
    })
  </script>
  
{% endblock content %}
