{% extends 'partials/base.html' %}
{% load static %}
{% block content %}



<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="id_first_name">First Name</label>
                    {{ form.first_name }}
                </div>
                <div class="form-group">
                    <label for="id_last_name">Last Name</label>
                    {{ form.last_name }}
                </div>
                <div class="form-group">
                    <label for="id_email">Email</label>
                    {{ form.email }}
                </div>
                <div class="form-group">
                    <label for="id_date_of_birth">Date of Birth</label>
                    {{ form.date_of_birth }}
                </div>
                <div class="form-group">
                    <label for="id_occupation">Occupation</label>
                    {{ form.occupation }}
                </div>
                <div class="form-group">
                    <label for="id_skills">Skills</label>
                    {{ form.skills }}
                </div>
                <div class="form-group">
                    <label for="id_address_line_1">Address Line 1</label>
                    {{ form.address_line_1 }}
                </div>
                <div class="form-group">
                    <label for="id_address_line_2">Address Line 2</label>
                    {{ form.address_line_2 }}
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="id_city">City</label>
                    {{ form.city }}
                </div>
                <div class="form-group">
                    <label for="id_state">State</label>
                    {{ form.state }}
                </div>
                <div class="form-group">
                    <label for="id_zip_code">Zip Code</label>
                    {{ form.zip_code }}
                </div>
                <div class="form-group">
                    <label for="id_country">Country</label>
                    {{ form.country }}
                </div>
                <div class="form-group">
                    <label for="id_phone_number">Phone Number</label>
                    {{ form.phone_number }}
                </div>
                <div class="form-group">
                    <label for="id_website_url">Website URL</label>
                    {{ form.website_url }}
                </div>
                <div class="form-group">
                    <label for="id_joining_comments">Joining Comments</label>
                    {{ form.joining_comments }}
                </div>
            </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>


{% endblock content %}